[include]
  path = ~/.gitconfig.user
[alias]
	ch  = checkout
	chb = !git ch -b
	cht = !git ch -t
	br  = branch
	brm = !git br -D
	bmv = !git br -M
	ci  = commit
	cim = commit -m
	can = !git ci --amend --no-edit
	st  = status
	sts = !git st --short
	ss  = !git sts
	lno = !git log --name-only
	lns = !git log --name-status
	cl  = clean
	cla = !git cl -dfx
	rt  = reset
	rth = !git reset --hard HEAD
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
	editor = vim
